{% extends "base.html" %}

{% block nav %}
    <h1><a href="{{ url_for('sory') }}">im sory</a></h1>
    <ul id="boards">
    {% for b in boards %}
        <li class="{{ 'active' if board.name == b.name else '' }}">{{ b.name }}</li>
    {% endfor %}
    </ul>
    <form method="post" action="{{ url_for('boards.create') }}">
        <label for="name">board name</label>
        <input name="name" id="name" required>
        <input type="submit" value="+">
    </form>
{% endblock %}

{% block board %}
    <h1>im trying to {{ message }}.</h1>
{% endblock %}
